.top-one {
    width: 98%;
    height: 28vh;
    border: 7px solid black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.purple {
    width: 40px;
    height: 170px;
    background: hsl(280, 50%, 40%);
    margin-top: 70px;
    margin-left: 1%;
}
.green {
    width: 500px;
    height: 220px;
    background: green;
    margin-left: 7%;
    margin-top: -16%;
}
.blue {
    width: 230px;
    height: 230px;
    background: lightblue;
    margin-left: 50%;
    margin-top: -16%;
    border-radius: 1000px;
}
.middle-one {
    width: 98%;
    height: 29vh;
    border: 5px dotted black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; 
}
.post-it{
    width: 90%;
    height: 180px;
    background: hsl(60, 82%, 85%);
    margin-top: 30px;
    margin-left: 80px;
    box-shadow: 8px 11px rgba(20, 20, 20, 0.877);
}

.bottom-one{
    width: 25%;
    height: 10vh;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 3px;
    margin: 20px auto;
    padding: 100px;

}
.friends {
    text-align: center;
    margin: 12px auto;
    letter-spacing: 5px;
    color: navy
}